div.topContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.topArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 300px;
  border-radius: 100px;
  background-color: #fff4e0;
}

div.topDescription {
  margin: 5px 0;
  font-size: 25px;
  font-weight: 200;
  width: 700px;
  height: 100px;
  text-align: center;
}

ul.topLinkList {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

ul.topLinkList a {
  color: #956628;
  padding: 10px 20px;
  text-decoration: none;
  transition: all 0.3s;
}

ul.topLinkList a:hover {
  color: #7c592c;
  border-bottom: 3px solid #7c592c;
}

@media screen and (max-width: 768px) {
  div.topDescription {
    width: 80%;
  }

  ul.topLinkList {
    display: block;
  }

  ul.topLinkList li {
    margin-bottom: 20px;
  }
}
