.starContainer {
  margin: 40px auto 0;
  padding-bottom: 50px;
  width: 1050px;
}

.starContainer:last-child {
  padding-bottom: 150px;
}

.starContainer h1 {
  padding-left: 30px;
}

.starList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px 0;
  place-items: center;
  margin-top: 20px;
  list-style: none;
}

.starList li {
  width: 250px;
  position: relative;
  padding: 1.2em;
  margin: 10px;
  font-size: 18px;
  color: #fff;
  box-shadow: 6px 6px 16px -3px #b0b0b0;
  border-radius: 5px;
}

.starList.flower li {
  background-color: #e28194;
}

.starList.flower li:hover {
  background-color: #ecb6c1;
  cursor: pointer;
}

.starList.moon li {
  background-color: #f4c33e;
}

.starList.moon li:hover {
  background-color: #f9de95;
  cursor: pointer;
}

.starList.snow li {
  background-color: #8ab3a1;
}

.starList.snow li:hover {
  background-color: #b1d4c5;
  cursor: pointer;
}

.starList.star li {
  background-color: #5cb7d4;
}

.starList.star li:hover {
  background-color: #a9d5e3;
  cursor: pointer;
}

.starList.cosmos li {
  background-color: #b179c4;
}

.starList.cosmos li:hover {
  background-color: #dbbce7;
  cursor: pointer;
}

.starList.special li {
  background-color: #574a8a;
}

.starList.special li:hover {
  background-color: #9387c4;
  cursor: pointer;
}

.starList svg {
  margin-right: 15px;
}

@media screen and (max-width: 1050px) {
  .starContainer {
    width: 100%;
  }
}

@media screen and (max-width: 950px) {
  .starContainer {
    width: 80%;
  }

  .starContainer h1 {
    padding-left: 0px;
    text-align: center;
  }

  .starList {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .starContainer h1 {
    font-size: 26px;
  }

  .starList {
    grid-template-columns: 1fr;
  }

  .starList li {
    width: 250px;
    position: relative;
    padding: 1em;
    margin-bottom: 0;
  }
}
