body {
  position: relative;
  margin: 0;
  color: #956628;
  background-color: #fff4e0;
  width: 100%;
  min-height: 100vh;
  font-family: "BIZ UDPGothic", "Yu Gothic Medium", "游ゴシック Medium",
    "YuGothic", "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

.sp-only {
  display: none;
}

@media screen and (max-width: 450px) {
  .sp-only {
    display: inline;
  }
}
